/*
* Utilities
*/
/*
* Libraries
*/
/**
* Mixins - Font-weight
*/
/**
* Mixins - Viewport
*/
/**
* Mixins - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
/**
* Mixins - Placeholder
*/
/*
* Base
* Estilo base do elementos do Html
*/
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header,
.main,
.footer,
.breadcrumbs-container {
  max-width: 980px;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
.header-container {
  -webkit-box-shadow: inset 0 35px 0 #f8f8f8, inset 0 -5px 0 @bg(1), inset 0 -50px 0 @bg(2);
  box-shadow: inset 0 35px 0 #f8f8f8, inset 0 -5px 0 @bg(1), inset 0 -50px 0 @bg(2);
}
@media (max-width: 992px) {
  .header-container {
    -webkit-box-shadow: inset 0 49px 0 @bg(2), inset 0 50px 0 rgba(0,0,0,0.3), inset 0 50px 0 @bg(2);
    box-shadow: inset 0 49px 0 @bg(2), inset 0 50px 0 rgba(0,0,0,0.3), inset 0 50px 0 @bg(2);
  }
}
.owl-carousel .owl-wrapper-outer {
  padding: 10px;
  margin: -10px;
  width: auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.owl-theme .owl-buttons div.owl-next:before,
.owl-theme .owl-buttons div.owl-prev:before {
  color: @bg(2);
}
.owl-theme .owl-buttons div.owl-next:hover:before,
.owl-theme .owl-buttons div.owl-prev:hover:before {
  color: @bg(2:hover);
}
/*
* Global
* Classes globais que devem ser extendidas por componentes
*/
/*
* Modules
* Componentes que se adaptam ao contexto
*/
.block-layered-nav .filters-list .item {
  border-radius: 2px;
}
.header .televendas {
  text-align: right;
  line-height: 35px;
}
@media (max-width: 992px) {
  .header .televendas {
    line-height: 50px;
  }
}
.header .login-create-container {
  color: #3c3c3c;
}
.header .login-create-container a {
  color: @bg(1);
}
.header .login-create-container a:hover {
  color: @bg(1:hover);
}
@media (max-width: 992px) {
  .header .login-create-container {
    color: #fff;
  }
}
.header .login-create {
  line-height: 35px;
}
.search-container .search-input {
  text-align: right;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: solid 1px #cdcdcd;
  border-radius: 0;
}
.search-container .search-input::-webkit-input-placeholder {
  color: #707070;
  font-size: 14px;
  font-style: italic;
}
.search-container .search-input:-moz-placeholder {
  color: #707070;
  font-size: 14px;
  font-style: italic;
}
.search-container .search-input::-moz-placeholder {
  color: #707070;
  font-size: 14px;
  font-style: italic;
}
.search-container .search-input:-ms-input-placeholder {
  color: #707070;
  font-size: 14px;
  font-style: italic;
}
.search-container .search-input:focus {
  border-color: @bg(1:hover);
}
.search-container .search-input:focus::-webkit-input-placeholder {
  color: transparent;
}
.search-container .search-input:focus:-moz-placeholder {
  color: transparent;
}
.search-container .search-input:focus::-moz-placeholder {
  color: transparent;
}
.search-container .search-input:focus:-ms-input-placeholder {
  color: transparent;
}
.search-container .search-button {
  background: @bg(1);
  border-radius: 0;
}
.search-container .search-button .ico {
  fill: #fff;
}
.mycart > a {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 65px;
}
.mycart > a .icon {
  fill: @bg(1);
}
@media (max-width: 992px) {
  .mycart > a .icon {
    fill: #fff;
  }
}
.mycart > a .txt {
  color: #666;
  font-size: 13px;
}
.mycart > a .txt span {
  display: block;
  color: #4086a8;
  margin-top: 6px;
  font-weight: 600;
}
.mycart > a .qtd {
  background: #4086a8;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
}
@media (max-width: 992px) {
  .mycart > a .qtd {
    display: none;
  }
}
.mycart > a:hover {
  background: none;
}
.main-menu.normal a.level0 .name {
  font-size: 12px;
  font-weight: 600;
}
.main-menu.normal li.level0:hover a.level0 {
  background: @bg(1);
}
.banner-regua {
  position: relative;
  color: #3c3c3c;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.banner-regua:before {
  content: '';
  position: absolute;
  z-index: -1;
  background: #f7f7f7;
  width: 100vw;
  left: 50%;
  top: 0;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.banner-regua svg {
  fill: @bg(1);
}
.banner-regua small {
  font-size: 10px;
}
.cms-home .product-collection-container > header {
  display: none;
}
.product-collection li.item {
  z-index: 1;
}
.product-collection li.item .btn-cart {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  background: @button(bg);
  font-size: 12px;
}
.product-collection li.item:before {
  content: '';
  background: #fff;
  position: absolute;
  z-index: -1;
  left: -10px;
  top: -10px;
  bottom: -10px;
  right: -10px;
  border: solid 1px #ddd;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  border-radius: 2px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.2);
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.product-collection li.item:hover {
  z-index: 2;
}
.product-collection li.item:hover:before {
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.product-collection li.item:hover .btn-cart {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.product-collection .price-box {
  height: 36px;
}
.product-collection .price-box-avista {
  height: 15px;
}
.product-collection .price-box-parcelado {
  height: 23px;
}
.price-box-parcelado,
.preco-parcelado-sem-juros {
  color: #000;
  font-size: 13px;
}
.price-box-parcelado .num,
.preco-parcelado-sem-juros .num,
.price-box-parcelado .value,
.preco-parcelado-sem-juros .value {
  font-weight: normal;
}
.price-box-parcelado .juros,
.preco-parcelado-sem-juros .juros {
  display: inline;
  font-size: 13px;
}
.old-price .label,
.regular-price .label,
.special-price .label {
  text-transform: lowercase;
}
.footer-container {
  padding-bottom: 0;
}
.footer {
  font-family: 'Titillium Web', sans-serif;
}
.footer .tele {
  color: #666;
  font-size: 18px;
}
.footer .horario .email {
  color: #666;
  font-size: 13px;
  font-weight: normal;
}
.footer-copy {
  padding: 30px 0;
  position: relative;
}
.footer-copy:before {
  content: '';
  position: absolute;
  z-index: -1;
  background: #fff;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 100vw;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.product-essential .qty-wrapper {
  display: none;
}
.product-essential .add-to-cart .add-to-cart-buttons button {
  padding: 0 10px;
}
.textblock-produto-texto-aviso p {
  display: inline-block;
  font-size: 12px;
}
.product-view .veja-mais {
  text-align: center;
  color: #333;
  font-size: 14px;
  font-weight: 300;
}
.product-view .veja-mais .label,
.product-view .veja-mais ul,
.product-view .veja-mais li {
  display: inline-block;
}
.product-view .veja-mais li + li:before {
  content: '|';
  display: inline-block;
  margin: 0 5px;
  color: #f8553b;
}
.product-view .veja-mais a {
  color: #f8553b;
  font-weight: 300;
}
.product-view .veja-mais a:hover {
  text-decoration: underline;
}
.jointsale-list .item-image .more {
  background: #f8553b;
  color: #fff;
  border-radius: 2px;
}
.box-reviews .rating-excerpt {
  display: none;
}
.box-reviews .form-add {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -o-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  max-width: 230px;
  border-right: solid 1px #ccc;
}
.box-reviews .form-add .subtitle:before {
  content: 'Deixe a sua opinião';
}
.box-reviews .form-add .subtitle span {
  display: none;
}
.box-reviews .form-add .form-add-subtitle {
  display: none;
}
.box-reviews .form-add label {
  color: #333;
  font-size: 14px;
}
.box-reviews .form-add button {
  background: #f8553b;
}
.box-reviews .customers-ratings {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -o-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
.fixed-price {
  position: fixed;
  right: -230px;
  top: 50%;
  width: 250px;
  padding: 20px;
  background: #fff;
  border: solid 1px #d9d9d9;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.1);
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 60;
}
.fixed-price .price-box,
.fixed-price .preco-parcelado-sem-juros,
.fixed-price .preco-parcelado,
.fixed-price .price-box-avista {
  text-align: center;
}
.fixed-price .preco-parcelado-sem-juros,
.fixed-price .preco-parcelado {
  font-size: 14px;
}
.fixed-price .price-box-avista {
  font-size: 12px;
  color: #999;
  display: block;
}
.fixed-price .price-box-avista .price {
  color: #de4949;
}
.fixed-price .price-box-avista .label {
  display: none;
}
.fixed-price .price-box-avista:before {
  content: 'ou ';
}
.fixed-price .price-box-avista:after {
  content: ' com desconto à vista no boleto';
}
.fixed-price .close {
  position: absolute;
  color: #de4949;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: solid 1px #d9d9d9;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
  background: #fff;
  top: -13px;
  left: -13px;
}
.fixed-price .close:hover {
  background: #de4949;
  color: #fff;
}
.fixed-price.on {
  right: 0;
}
.fixed-price.on .close {
  left: auto;
  right: 10px;
}
@media (max-width: 768px) {
  .fixed-price {
    display: none;
  }
}
.std {
  font-size: 14px;
}
.header-container + .widget,
.breadcrumbs-container + .widget {
  text-align: center;
  margin-bottom: 20px;
}
.page-title.blog {
  display: none;
}
.blog-categories {
  border: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.blog-categories .title {
  display: none;
}
.blog-categories li.level0 {
  padding: 15px;
  border: 1px solid rgba(70,87,102,0.2);
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  border-radius: 3px;
}
.blog-categories li.level0 + .level0 {
  margin-top: 20px;
}
.blog-categories li.level0 > a {
  color: #4086a8;
}
.blog-categories li.level1 {
  text-transform: none;
}
.blog-categories ul.level1 {
  padding-left: 0;
}
.blog-categories ul.level1:before {
  display: none;
}
.blog-categories ul.level1 a {
  color: #949494;
}
.posts-list .the-tags {
  display: block;
}
.the-tags a {
  border-radius: 0;
}
.the-tags a:before {
  content: ' #';
}
.the-post .std {
  color: #949494;
}
.the-post .the-title a {
  text-transform: uppercase;
  font-size: 29px;
  line-height: 1;
}
.the-post .blog-entry .ler {
  color: #949494;
  font-size: 16px;
}
.the-post .blog-entry .ler:after {
  content: '... ';
}
.the-post .the-date {
  color: #949494;
  font-size: 14px;
}
.blog-sidebar .blog-title {
  display: none;
}
/*
* Module - Messages
*/
.messages > li {
  display: block;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 14px;
}
.messages .success-msg {
  border: 1px solid #2baf60;
  background: #c8efc0;
  color: #1d904b;
}
.messages .error-msg {
  border: 1px solid #d92100;
  background: #ffdcdc;
  color: #d92100;
}
.messages .notice-msg {
  border: 1px solid #f7be07;
  background: #f9f0d5;
  color: #f7be07;
}
/*
* Layout
* Estrutura tamanhos e ordem dos elementos no layout
*/
@media (max-width: 500px) {
  .header .logo-container {
    margin-right: 90px;
  }
}
.header .televendas {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -o-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-right: 20px;
  padding-top: 0;
}
.header .login-create-container {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -o-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -o-box-flex: 0;
  box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
@media (max-width: 500px) {
  .header .search-container {
    width: 90px;
    height: 77px;
  }
  .header .search-container.on .search-button .ico {
    fill: #fff;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.search-container form {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.search-container .input-box {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: auto;
}
.search-container .search-input {
  height: 55px;
  padding: 0 20px;
}
.search-container .search-button {
  position: relative;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 80px;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  margin-left: 10px;
  height: 55px;
}
.search-container .search-button span {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 55px;
}
.search-container .search-button .ico {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
  .search-container .search-input {
    height: 77px;
  }
  .search-container .search-button {
    right: 0;
    height: 77px;
  }
}
.mycart > a .icon {
  left: 0;
  width: 55px;
  height: 55px;
  margin-top: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 992px) {
  .mycart > a .icon {
    width: 30px;
    height: 30px;
    margin-left: 18px;
  }
}
.mycart > a .txt {
  width: 120px;
}
.mycart > a .qtd {
  top: auto;
  bottom: -10px;
  left: 35px;
  width: 25px;
  height: 25px;
}
.home-grids {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
}
.home-grids > div {
  padding: 5px;
}
.home-grids .one {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 59.693%;
  -ms-flex: 0 0 59.693%;
  flex: 0 0 59.693%;
}
.home-grids .two {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 40.306%;
  -ms-flex: 0 0 40.306%;
  flex: 0 0 40.306%;
}
@media (max-width: 395px) {
  .home-grids .one,
  .home-grids .two {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
.banner-regua {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}
.banner-regua ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.banner-regua li {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 200px;
  -ms-flex: 1 1 200px;
  flex: 1 1 200px;
  max-width: 250px;
  margin: 20px 30px;
}
.banner-regua li.card strong {
  display: block;
}
.banner-regua li.offer {
  max-width: 220px;
}
.banner-regua svg {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 0 0 35px;
  -ms-flex: 0 0 35px;
  flex: 0 0 35px;
  height: 20px;
  width: 35px;
  margin-right: 10px;
}
.pagtos-container ul.list li .icon svg,
.envios-container ul.list li .icon svg {
  height: 20px;
}
/*
* State
* Estado global do Layout
*/
/*
* Theme
* Customização do modulos ou layout, hacks !importants e etc
*/
