/*
* Utilities
*/
@import '../node_modules/nib'

/*
* Libraries
*/

/**
* Mixins - Font-weight
*/
light = 300
regular = 400
medium = 500
semibold = 600
bold = 700

/**
* Mixins - Viewport
*/
viewport = 980
sidebar =  220
gutter =   30

/**
* Mixins - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
// Smaller devices (phones, 320px and down)
screen-xxs = 320px
// Small devices (phones, 480px and down)
screen-xs = 480px
// Small devices (tablets, 768px and down)
screen-sm = 768px
// Medium devices (desktops, 992px and down)
screen-md = 992px
// Medium devices (desktops, 1200px and down)
screen-lg = 1200px

/**
* Mixins - Placeholder
*/

placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}

/*
* Base
* Estilo base do elementos do Html
*/

$color = #4086a8

body
    font-family: 'Montserrat', sans-serif

    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.header, .main, .footer, .breadcrumbs-container
    max-width: 980px

input
    &:focus
        +placeholder()
            color:transparent

.header-container
    box-shadow: inset 0 35px 0 #f8f8f8,
            inset 0 -5px 0 unquote($color1_bg),
            inset 0 -50px 0 unquote($color2_bg)

    @media( max-width: 992px )
        box-shadow: inset 0 49px 0 unquote($color2_bg),
                inset 0 50px 0 rgba(0,0,0,.3),
                inset 0 50px 0 unquote($color2_bg)

.owl-carousel .owl-wrapper-outer
    padding: 10px
    margin: -10px
    width: auto
    box-sizing: content-box

.owl-theme .owl-buttons
    div.owl-next, div.owl-prev
        &:before
            color: unquote($color2_bg)
        &:hover:before
            color: unquote($color2_bg_hover)
/*
* Global
* Classes globais que devem ser extendidas por componentes
*/

/*
* Modules
* Componentes que se adaptam ao contexto
*/

.block-layered-nav .filters-list .item
    border-radius: 2px

// Televendas
.televendas
    .header &
        text-align: right
        line-height: 35px
        @media ( max-width: 992px )
            line-height: 50px

// Login Create
.login-create-container
    .header &
        color: #3c3c3c

        a
            color: unquote($color1_bg)

            &:hover
                color: unquote($color1_bg_hover)

        @media ( max-width: 992px )
            color: #fff

.login-create
    .header &
        line-height: 35px

// Search
.search-container

    .search-input
        text-align: right
        box-shadow: none
        border: solid 1px #cdcdcd
        border-radius: 0

        +placeholder()
            color: #707070
            font-size: 14px
            font-style: italic

        &:focus
            border-color: unquote($color1_bg_hover)
            +placeholder()
                color: transparent

    .search-button
        background: unquote($color1_bg)
        border-radius: 0

        .ico
            fill: #fff


// Cart
.mycart
    > a
        background: none
        box-shadow: none

        padding-left: 65px

        .icon
            fill: unquote($color1_bg)

            @media( max-width: 992px )
                fill: #fff

        .txt
            color: #666
            font-size: 13px

            span
                display: block
                color: $color
                margin-top: 6px
                font-weight: semibold

        .qtd
            background: $color
            font-size: 14px
            font-weight: bold
            line-height: 25px

            @media( max-width: 992px )
                display: none

        &:hover
            background: none


// Nav Top

.main-menu.normal
    a.level0 .name
        font-size: 12px
        font-weight: semibold

    li.level0:hover
        a.level0
            background: unquote($color1_bg)

// Home Grid

.banner-regua
    position: relative
    color: #3c3c3c
    font-size: 12px
    text-transform: uppercase
    margin-bottom: 5px

    &:before
        content: ''
        position: absolute
        z-index: -1

        background: #f7f7f7
        width: 100vw

        left: 50%
        top: 0
        bottom: 0

        transform: translateX(-50%)


    svg
        fill: unquote($color1_bg)

    small
        font-size: 10px

// Product List
.product-collection-container

    .cms-home & > header
        display: none

.product-collection
    li.item
        z-index: 1

        .btn-cart
            opacity: 0
            background: unquote($button_bg)
            font-size: 12px

        &:before
            content: ''
            background: #fff
            position: absolute
            z-index: -1
            left: -10px
            top: -10px
            bottom: -10px
            right: -10px
            border: solid 1px #dddddd
            visibility: hidden
            opacity: 0

            border-radius: 2px
            box-shadow: 0 0 4px rgba(0,0,0,.2)

            transition: all .2s ease

        &:hover
            z-index: 2
            &:before
                visibility: visible
                opacity: 1

            .btn-cart
                opacity: 1

    .price-box
        height: 36px

    .price-box-avista
        height: 15px

    .price-box-parcelado
        height: 23px




// Price
.price-box-parcelado, .preco-parcelado-sem-juros
    color: #000
    font-size: 13px

    .num, .value
        font-weight: normal

    .juros
        display: inline
        font-size: 13px

.old-price, .regular-price, .special-price
    .label
        text-transform: lowercase
.footer-container
    padding-bottom: 0

.footer
    font-family: 'Titillium Web', sans-serif

    .tele
        color: #666
        font-size: 18px

    .horario .email
        color: #666
        font-size: 13px
        font-weight: normal

.footer-copy
    padding: 30px 0
    position: relative

    &:before
        content: ''
        position: absolute
        z-index: -1
        background: #fff
        left: 50%
        top: 0
        bottom: 0
        width: 100vw

        transform: translateX(-50%)

.qty-wrapper
    .product-essential &
        display: none

.product-essential .add-to-cart .add-to-cart-buttons button
    padding: 0 10px

.textblock-produto-texto-aviso
    p
        display: inline-block
        font-size: 12px


.veja-mais
    .product-view &
        text-align: center
        color: #333
        font-size: 14px
        font-weight: light

        .label, ul, li
            display: inline-block

        li + li
            &:before
                content: '|'
                display: inline-block
                margin: 0 5px
                color: #f8553b

        a
            color: #f8553b
            font-weight: light

            &:hover
                text-decoration: underline

.jointsale-list .item-image .more
    background: #f8553b
    color: #fff
    border-radius: 2px

.box-reviews
    .rating-excerpt
        display: none

    .form-add
        order: 1
        max-width: 230px
        border-right: solid 1px #ccc
        .subtitle
            &:before
                content: 'Deixe a sua opinião'
            span
                display: none
        .form-add-subtitle
            display: none

        label
            color: #333
            font-size: 14px

        button
            background: #f8553b


    .customers-ratings
        order: 2


// Fixed Price
.fixed-price
    position: fixed
    right: -230px
    top: 50%
    width: 250px
    padding: 20px
    background: #fff
    border: solid 1px #d9d9d9
    border-radius: 3px

    box-shadow: 0 0 4px rgba(0,0,0,.1)

    transition: all .2s ease

    z-index: 60

    .price-box, .preco-parcelado-sem-juros , .preco-parcelado, .price-box-avista
        text-align: center

    .preco-parcelado-sem-juros, .preco-parcelado
        font-size: 14px

    .price-box-avista
        font-size: 12px
        color: #999
        display: block
        .price
            color: #de4949
        .label
            display: none

        &:before
            content: 'ou '

        &:after
            content: ' com desconto à vista no boleto'

    .close
        position: absolute
        color: #de4949
        width: 26px
        height: 26px
        border-radius: 50%
        border:solid 1px #d9d9d9
        font-size: 18px
        text-align: center
        line-height: 26px
        background: #fff

        top: -13px
        left: -13px

        &:hover
            background: #de4949
            color: #fff
    &.on
        right: 0

        .close
            left: auto
            right: 10px

    @media (max-width: 768px)
        display: none


.std
    font-size: 14px

.widget
    .header-container + &
    .breadcrumbs-container + &
        text-align: center
        margin-bottom: 20px


.page-title
    &.blog
        display: none

.blog-categories
    border: 0
    padding: 0
    box-shadow: none

    .title
        display: none

    li
        &.level0
            padding: 15px
            border: 1px solid rgba(70,87,102,.2)
            box-shadow: 0 2px 3px rgba(0,0,0,.1)

            border-radius: 3px

            + .level0
                margin-top: 20px

            > a
                color: $color

        &.level1
            text-transform: none

    ul
        &.level1
            padding-left: 0

            &:before
                display: none

            a
                color: #949494


.the-tags
    .posts-list &
        display: block

    a
        border-radius: 0
        &:before
            content: ' #'

.the-post
    .std
        color: #949494

    .the-title a
        text-transform: uppercase
        font-size: 29px
        line-height: 1

    .blog-entry .ler
        color: #949494
        font-size: 16px

        &:after
            content: '... '

    .the-date
        color: #949494
        font-size: 14px

.blog-sidebar
    .blog-title
        display: none

/*
* Module - Messages
*/

.messages
    > li
        display block
        padding 10px 20px
        margin-bottom 20px
        font-size 14px

    .success-msg
        border 1px solid #2baf60
        background #c8efc0
        color #1d904b

    .error-msg
        border 1px solid #d92100
        background #ffdcdc
        color #d92100

    .notice-msg
        border 1px solid #f7be07
        background #f9f0d5
        color #f7be07

/*
* Layout
* Estrutura tamanhos e ordem dos elementos no layout
*/

// Logo
.logo-container
    .header &
        @media (max-width: 500px)
            margin-right: 90px

// Televendas
.televendas
    .header &
        order: 1
        flex: 1 1 auto

        margin-right: 20px
        padding-top: 0

// Login Create
.login-create-container
    .header &
        order: 2
        flex: none

// Search
.search-container

    .header &
        @media (max-width: 500px)
            width: 90px
            height: 77px

            &.on .search-button .ico
                fill: #fff
                transform: translate(-50%,-50%)

    form
        display: flex

    .input-box
        flex: 1 1 auto
        width: auto

    .search-input
        height: 55px
        padding: 0 20px

    .search-button
        position: relative
        flex: 0 0 80px
        margin-left: 10px
        height: 55px

        span
            display: block
            width: 100%
            height: 100%
            line-height: 55px

        .ico
            display: block
            position: absolute
            margin: 0 auto
            width: 30px
            height: 30px

            top: 50%
            left: 50%

            transform: translate(-50%, -50%)

    @media (max-width: 500px)
        .search-input
            height: 77px

        .search-button
            right: 0
            height: 77px

// Cart

.mycart
    > a
        .icon
            left: 0
            width: 55px
            height: 55px
            margin-top: 0

            transform: translateY(-50%)

            @media( max-width: 992px )
                width: 30px
                height: 30px
                margin-left: 18px

        .txt
            width: 120px

        .qtd
            top: auto
            bottom: -10px
            left: 35px
            width: 25px
            height: 25px

// Home Grid

.home-grids
    display: inline-flex
    flex-wrap: wrap
    margin: 0

    > div
        padding: 5px

    .one
        flex: 0 0 59.693%

    .two
        flex: 0 0 40.306%

    @media (max-width: 395px)
        .one, .two
            flex: 0 0 100%


.banner-regua
    flex: 0 0 100%
    ul
        display: flex
        flex-wrap: wrap
        justify-content: center
    li
        display: flex
        align-items: center

        flex: 1 1 200px
        max-width: 250px

        margin: 20px 30px

        &.card
            strong
                display: block

        &.offer
            max-width: 220px

    svg
        flex: 0 0 35px
        height: 20px
        width: 35px
        margin-right: 10px

.pagtos-container, .envios-container
    ul.list li .icon svg
        height: 20px

/*
* State
* Estado global do Layout
*/

/*
* Theme
* Customização do modulos ou layout, hacks !importants e etc
*/
